* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

body {
    font-family: 'Lato', sans-serif;
}

button {
    border: none;
    background: #222222;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    height: 75px;
    background: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_div {
    display: flex;
    align-items: center;
    gap: 41px;
    margin-left: 32px;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 33px;
    margin-right: 41px;
}

.top {
    height: 474px;
    display: flex;
    align-items: center;
    background: #F1E4E6;
}

.top_pic {
    width: 50%;
    height: 100%;
    background: url("img/top_pic.png") no-repeat center bottom;
    background-size: contain;
}

.top_title {
    width: 50%;
    padding-left: 16px;
    border-left: #F16D7F 12px solid;
}

.title_1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.title_2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 180px;
    gap: 30px;
    padding-top: 65px;
    padding-bottom: 96px;
    margin-right: 16px;
    margin-left: 16px;
}

.category_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cat_text_small {
    font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #FFFFFF;
}

.cat_text_big {
    font-weight: 700;
font-size: 24px;
line-height: 29px;
text-align: center;
color: #F16D7F;
}

.cat_item_women {
    background: url("img/cat_woman.jpg") no-repeat center;
}

.cat_item_men {
    background: url("img/cat_man.jpg") no-repeat center;
}

.cat_item_kids {
    background: url("img/cat_kids.jpg") no-repeat center;
}

.cat_item_big {
    background: url("img/cat_big.jpg") no-repeat center;
    grid-column: span 3;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items_title {
    text-align: center;
    font-weight: 400;
font-size: 30px;
line-height: 36px;
color: #222222;
margin-bottom: 6px;
}

.items_text {
    text-align: center;
    font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #9F9F9F;
margin-bottom: 48px;
}

.items_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 48px;
}

.item_card {
    width: 360px;
    background: #F8F8F8;
}

.card_title {
    font-weight: 400;
font-size: 13px;
line-height: 16px;
color: #000000;
margin-top: 25px;
margin-bottom: 16px;
margin-left: 16px;
}

.card_text {
    font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #5D5D5D;
margin-bottom: 16px;
margin-left: 16px;
}

.price {
    font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #F16D7F;
margin-bottom: 19px;
margin-left: 16px;
}

.see_all_btn {
    border: 1px solid #FF6A6A;
    font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #F26376;
margin-bottom: 60px;
background: #FFFFFF;
padding: 14px 38px 13px 38px;
}

.see_all_btn:hover {
    color: #FFFFFF;
    background-color: #F16D7F;
}

@media (max-width: 768px) and (min-width: 425px) {
    
    .top {
        height: 368px;
    }

    .title_1 {
        font-size: 44px;
        line-height: 53px;
    }

    .title_2 {
        font-size: 24px;
        line-height: 29px;
    }

    .categories {
        gap: 20px;
    }

    .items_list {
        gap: 16px;
    }

}