* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

body {
    font-family: 'Lato', sans-serif;
}

button {
    border: none;
    background: #222222;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    height: 75px;
    background: #222222;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_div {
    display: flex;
    align-items: center;
    gap: 41px;
    margin-left: 32px;
}

.navigation {
    display: flex;
    align-items: center;
    gap: 33px;
    margin-right: 41px;
}

.menu_btn {
    position: relative;
}

.menu_btn:hover .menu {
    visibility: visible;
}

.menu {
    position: absolute;
    top: 52px;
    left: 0;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
    width: 180px;
    padding: 32px;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
    visibility: hidden;
}

.menu_title {
    font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #000000;
margin-bottom: 4px;
}

.menu_subtitle {
    font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #F16D7F;
margin-top: 20px;
margin-bottom: 12px;
}

.menu_list {
    display: flex;
    flex-direction: column;
    gap: 11px;
    align-items: start;
    font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #6F6E6E;
text-decoration: none;
padding-left: 21px;
}

.menu_list a {
    font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #6F6E6E;
text-decoration: none;
}


.cart_btn {
    position: relative;
}

.cart_btn::after {
    position: absolute;
    top: -8px;
    right: -9px;
    content: '5';
    width: 19px;
    height: 19px;
    background-color: #F16D7F;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
font-size: 12px;
line-height: 14px;
    color: #FFFFFF;
}

.top {
    height: 474px;
    display: flex;
    align-items: center;
    background: #F1E4E6;
}


.top_pic {
    width: 50%;
    height: 100%;
    background: url("img/top_pic.png") no-repeat center bottom;
    background-size: contain;
}

.top_title {
    width: 50%;
    padding-left: 16px;
    border-left: #F16D7F 12px solid;
}

.title_1 {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.title_2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
}

.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 260px 180px;
    gap: 30px;
    padding-top: 65px;
    padding-bottom: 96px;
    margin-right: 16px;
    margin-left: 16px;
}

.category_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cat_text_small {
    font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #FFFFFF;
}

.cat_text_big {
    font-weight: 700;
font-size: 24px;
line-height: 29px;
text-align: center;
color: #F16D7F;
}

.cat_item_women {
    background: url("img/cat_woman.jpg") no-repeat center;
}

.cat_item_men {
    background: url("img/cat_man.jpg") no-repeat center;
}

.cat_item_kids {
    background: url("img/cat_kids.jpg") no-repeat center;
}

.cat_item_big {
    background: url("img/cat_big.jpg") no-repeat center;
    grid-column: span 3;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items_title {
    text-align: center;
    font-weight: 400;
font-size: 30px;
line-height: 36px;
color: #222222;
margin-bottom: 6px;
}

.items_text {
    text-align: center;
    font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #9F9F9F;
margin-bottom: 48px;
}

.items_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 48px;
}

.item_card {
    width: 360px;
    background: #F8F8F8;
    position: relative;
}

.hover_item {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(58, 56, 56, 0.86);
    color: #FFFFFF;
    width: 100%;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hover_div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
    border: 1px solid #FFFFFF;
    padding: 10px 15px 8px 13px;
}

.item_card:hover .hover_item{
    visibility: visible;
}


.card_title {
    font-weight: 400;
font-size: 13px;
line-height: 16px;
color: #000000;
margin-top: 25px;
margin-bottom: 16px;
margin-left: 16px;
}

.card_text {
    font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #5D5D5D;
margin-bottom: 16px;
margin-left: 16px;
}

.price {
    font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #F16D7F;
margin-bottom: 19px;
margin-left: 16px;
}

.see_all_btn {
    border: 1px solid #FF6A6A;
    font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #F26376;
margin-bottom: 60px;
background: #FFFFFF;
padding: 14px 38px 13px 38px;
transition: all 0.3s;
}

.see_all_btn:hover {
    color: #FFFFFF;
    background-color: #F16D7F;
}

.advantages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #222224;
    padding-top: 104px;
    padding-bottom: 104px;
}

.advantage_item {
    text-align: center;
}

.advantage_subtitle {
    font-weight: 400;
font-size: 19.96px;
line-height: 24px;
color: #FBFBFB;
margin-bottom: 16px;
margin-top: 19px;
}

.advantage_text {
    font-weight: 300;
font-size: 13.972px;
line-height: 17px;
text-align: center;
color: #FBFBFB;
}

.subscribe_info {
    background: url(img/photo\ subscribe.jpg) no-repeat center;
    background-size: cover;
    padding-top: 97px;
    padding-bottom: 156px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quote {
    max-width: 360px;
    text-align: center;
}

.quote_pic {
    margin-bottom: 30px;
}

.quote_text {
    font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #222224;
}

.italic_text {
    font-style: italic;
}

.subscribe_form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sub_text_1 {
    font-weight: 700;
font-size: 24px;
line-height: 40px;
text-align: center;
color: #222224;
}

.sub_text_2 {
    font-weight: 400;
font-size: 24px;
line-height: 40px;
text-align: center;
color: #222224;
margin-bottom: 32px;
}

.sub_form {
    display: flex;
    justify-content: center;
    align-items: stretch;
    max-width: 356px;
}

.email_input {
    height: 49px;
    width: 256px;
    background: #E1E1E1;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
color: #222224;
opacity: 0.67;
border-radius: 25px 0 0 25px;
padding-left: 22px;
border: none;
}

.email_input:focus-visible {
    outline: none;
}

.email_input::placeholder {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
font-size: 14px;
line-height: 17px;
display: flex;
align-items: center;
color: #222224;
opacity: 0.67;
}

.sub_btn {
    width: 100px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    background: #F16D7F;
    border-radius: 0 25px 25px 0;
    padding: 7px 7px 6px 8px;
    font-family: 'Lato', sans-serif;
}

.footer {
    background: #222224;
    font-weight: 400;
font-size: 16px;
line-height: 19px;
    color: #FBFBFB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.links_list {
    display: flex;
    gap: 8px;
}

.background {
    transition: fill 0.3s;
}

.network_img:hover .background{
    fill: #F16D7F;
}

@media (max-width: 1024px) and (min-width: 768px) {
    
    .top {
        height: 368px;
    }

    .title_1 {
        font-size: 44px;
        line-height: 53px;
    }

    .title_2 {
        font-size: 24px;
        line-height: 29px;
    }

    .categories {
        gap: 20px;
    }

    .items_list {
        gap: 16px;
    }

    .advantages {
        flex-direction: column;
        gap: 48px;
        padding-top: 48px;
        padding-bottom: 64px;
    }

    .advantage_item {
        max-width: 360px;
    }

    .subscribe_info {
        flex-direction: column;
        gap: 48px;
        padding-top: 64px;
        padding-bottom: 140px;
    }

    .footer {
        padding-left: 32px;
        padding-right: 32px;
    }

}

@media (max-width: 767px) and (min-width: 320px) {
    .profile_btn, .cart_btn {
        display: none;
    }

    .navigation {
        justify-content: end;
        gap: 0;
    }

    .top {
        justify-content: center;
        height: 363px;
    }

    .top_pic {
        display: none;
    }

    .top_title {
        width: auto;
    }

    .title_1 {
        font-weight: 900;
        font-size: 38px;
        line-height: 46px;
    }

    .title_2 {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }

    .categories {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
        padding-bottom: 64px;
    }

    .category_item {
        height: 248px;
        background-size: cover;
    }

    .cat_item_big {
        height: 111px;
    }

    .items_text {
        margin-bottom: 64px;
    }

    .items_list {
        gap: 16px;
    }

    .advantages {
        flex-direction: column;
        gap: 47px;
        padding-top: 48px;
        padding-bottom: 81px;
        padding-left: 14px;
        padding-right: 14px;
    }

    .subscribe_info {
        flex-direction: column;
        gap: 59px;
        padding-top: 64px;
        padding-bottom: 109px;
    }

    .quote_text {
        font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    }

    .footer {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .sub_text_1 {
    line-height: 36px;
    }

    .sub_text_2 {
    line-height: 36px;
    }


}